.header {
text-align: center;
margin-top: 30px;
}

.container1 {
display: flex;
position: absolute;
margin-left: 80px;
margin-right: 80px;
padding-left: 100px;
padding-right: 100px;
}

.column2{
padding-left: 35px;
padding-right: 35px;
position: relative;
}
.column1{
position: relative;
}

.column3{
  position: relative;
}
